*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:linear-gradient(
135deg,
#1237a5,
#2d0f84
);
color:white;
min-height:100vh;
}

.hero{
min-height:100vh;
padding:20px;
background:linear-gradient(
135deg,
#1237a5,
#2d0f84
);
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
border-bottom:
1px solid rgba(
255,
255,
255,
0.15
);
}

.logo{
font-size:34px;
font-weight:bold;
color:white;
}

.nav-links{
display:flex;
gap:25px;
}

.nav-links button{
background:none;
border:none;
color:white;
font-size:18px;
font-weight:bold;
cursor:pointer;
}

.nav-links button:hover{
color:#60a5fa;
}

.hero-content{
text-align:center;
margin-top:100px;
}

.hero-content h1{
font-size:64px;
line-height:1.2;
max-width:1000px;
margin:auto;
}

.hero-content p{
margin-top:30px;
font-size:22px;
}

.btn{
margin-top:35px;
padding:18px 50px;
background:#1d74f5;
border:none;
border-radius:14px;
color:white;
font-size:24px;
font-weight:bold;
cursor:pointer;
}

.btn:hover{
background:#2563eb;
}

.page-box{

max-width:550px;

margin:
40px auto;

padding:
35px;

background:
rgba(
255,
255,
255,
0.08
);

border-radius:
20px;

backdrop-filter:
blur(
12px
);

}

.page-box h2{
text-align:center;
font-size:42px;
margin-bottom:20px;
}

.form{
display:flex;
flex-direction:column;
gap:18px;
}

.form input,
.form select,
.form textarea{

padding:
18px;

font-size:
18px;

border:none;

border-radius:
14px;

outline:none;

}

.form textarea{
height:120px;
resize:none;
}

.form button{
padding:18px;
background:#1d74f5;
border:none;
border-radius:14px;
color:white;
font-size:22px;
font-weight:bold;
cursor:pointer;
}

.form button:hover{
background:#2563eb;
}

.success{

margin-top:
20px;

padding:
16px;

background:
rgba(
34,
197,
94,
0.2
);

border:
1px solid
#22c55e;

border-radius:
12px;

color:
#bbf7d0;

font-size:
18px;

font-weight:
bold;

text-align:
center;

animation:
fadeIn
0.4s ease;

}

@keyframes fadeIn{

from{
opacity:0;
transform:
translateY(-10px);
}

to{
opacity:1;
transform:
translateY(0);
}

}

ul{
list-style:none;
text-align:center;
line-height:2;
font-size:22px;
}